GUIClient/Service References/SeatSrv/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" />
  <xs:element name="insertSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seatNumber" type="xs:int" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertSeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seatID" type="xs:int" />
        <xs:element minOccurs="0" name="seatNumber" type="xs:int" />
        <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSeatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRoomSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRoomSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRoomSeatsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSeatMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rows" type="xs:int" />
        <xs:element minOccurs="0" name="columns" type="xs:int" />
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertSeatMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="insertSeatMatrixResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSeatById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSeatByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSeatByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" minOccurs="0" name="getSeatResult" nillable="true" type="q2:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" minOccurs="0" name="getSeatsResult" nillable="true" type="q3:ArrayOfSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" minOccurs="0" name="getRoomSeatsResult" nillable="true" type="q4:ArrayOfSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>