ConsoleTesting/Service References/CustomerServiceReference/CinemaServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>