ConsoleTesting/Service References/EmployeeServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_insertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_insertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_updateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_updateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_deleteEmployeeByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeByUserName" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_deleteEmployeeByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteEmployeeByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployeeByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeByUserName" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployeeByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_getEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="insertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/insertEmployee" message="tns:IEmployeeService_insertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/insertEmployeeResponse" message="tns:IEmployeeService_insertEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/updateEmployee" message="tns:IEmployeeService_updateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/updateEmployeeResponse" message="tns:IEmployeeService_updateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteEmployeeByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/deleteEmployeeByUserName" message="tns:IEmployeeService_deleteEmployeeByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/deleteEmployeeByUserNameResponse" message="tns:IEmployeeService_deleteEmployeeByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeeByUserName" message="tns:IEmployeeService_getEmployeeByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeeByUserNameResponse" message="tns:IEmployeeService_getEmployeeByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/getEmployees" message="tns:IEmployeeService_getEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/getEmployeesResponse" message="tns:IEmployeeService_getEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/insertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/updateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEmployeeByUserName">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/deleteEmployeeByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeByUserName">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/getEmployeeByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/getEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CinemaServiceLibrary/EmployeeService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>