GUIEmployee/Service References/RoomSrv/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" />
  <xs:element name="insertRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNumber" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRoomByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRoomByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRoomByNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" minOccurs="0" name="getRoomByNumberResult" nillable="true" type="q1:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" minOccurs="0" name="getRoomsResult" nillable="true" type="q2:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>