trunk/ConsoleTesting/Service References/SeatServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeatService_insertSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_insertSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_updateSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_updateSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_deleteSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_deleteSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_deleteRoomSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRoomSeats" />
  </wsdl:message>
  <wsdl:message name="ISeatService_deleteRoomSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRoomSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_insertSeatMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSeatMatrix" />
  </wsdl:message>
  <wsdl:message name="ISeatService_insertSeatMatrix_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSeatMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_deleteSeatById_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSeatById" />
  </wsdl:message>
  <wsdl:message name="ISeatService_deleteSeatById_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSeatByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_getSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:getSeat" />
  </wsdl:message>
  <wsdl:message name="ISeatService_getSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSeatResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_getSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:getSeats" />
  </wsdl:message>
  <wsdl:message name="ISeatService_getSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="ISeatService_getRoomSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:getRoomSeats" />
  </wsdl:message>
  <wsdl:message name="ISeatService_getRoomSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRoomSeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeatService">
    <wsdl:operation name="insertSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/insertSeat" message="tns:ISeatService_insertSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/insertSeatResponse" message="tns:ISeatService_insertSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/updateSeat" message="tns:ISeatService_updateSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/updateSeatResponse" message="tns:ISeatService_updateSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/deleteSeat" message="tns:ISeatService_deleteSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/deleteSeatResponse" message="tns:ISeatService_deleteSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRoomSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/deleteRoomSeats" message="tns:ISeatService_deleteRoomSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/deleteRoomSeatsResponse" message="tns:ISeatService_deleteRoomSeats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertSeatMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/insertSeatMatrix" message="tns:ISeatService_insertSeatMatrix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/insertSeatMatrixResponse" message="tns:ISeatService_insertSeatMatrix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSeatById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/deleteSeatById" message="tns:ISeatService_deleteSeatById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/deleteSeatByIdResponse" message="tns:ISeatService_deleteSeatById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/getSeat" message="tns:ISeatService_getSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/getSeatResponse" message="tns:ISeatService_getSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/getSeats" message="tns:ISeatService_getSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/getSeatsResponse" message="tns:ISeatService_getSeats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRoomSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeatService/getRoomSeats" message="tns:ISeatService_getRoomSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeatService/getRoomSeatsResponse" message="tns:ISeatService_getRoomSeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeatService" type="tns:ISeatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/insertSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/updateSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/deleteSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRoomSeats">
      <soap:operation soapAction="http://tempuri.org/ISeatService/deleteRoomSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertSeatMatrix">
      <soap:operation soapAction="http://tempuri.org/ISeatService/insertSeatMatrix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSeatById">
      <soap:operation soapAction="http://tempuri.org/ISeatService/deleteSeatById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSeat">
      <soap:operation soapAction="http://tempuri.org/ISeatService/getSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSeats">
      <soap:operation soapAction="http://tempuri.org/ISeatService/getSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoomSeats">
      <soap:operation soapAction="http://tempuri.org/ISeatService/getRoomSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeatService">
    <wsdl:port name="BasicHttpBinding_ISeatService" binding="tns:BasicHttpBinding_ISeatService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CinemaServiceLibrary/SeatService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>