trunk/ConsoleTesting/Service References/MovieServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CinemaServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieService_insertMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:insertMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_insertMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_updateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:updateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_updateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_getMovieById_InputMessage">
    <wsdl:part name="parameters" element="tns:getMovieById" />
  </wsdl:message>
  <wsdl:message name="IMovieService_getMovieById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMovieByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_getMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:getMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieService_getMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMoviesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="insertMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/insertMovie" message="tns:IMovieService_insertMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/insertMovieResponse" message="tns:IMovieService_insertMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/updateMovie" message="tns:IMovieService_updateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/updateMovieResponse" message="tns:IMovieService_updateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMovieById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/getMovieById" message="tns:IMovieService_getMovieById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/getMovieByIdResponse" message="tns:IMovieService_getMovieById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/getMovies" message="tns:IMovieService_getMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/getMoviesResponse" message="tns:IMovieService_getMovies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieService" type="tns:IMovieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/insertMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/updateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovieById">
      <soap:operation soapAction="http://tempuri.org/IMovieService/getMovieById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieService/getMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port name="BasicHttpBinding_IMovieService" binding="tns:BasicHttpBinding_IMovieService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CinemaServiceLibrary/MovieService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>